.container{
width: 100%;
min-height: 100vh;
background-color: rgb(19, 102, 237);
display: flex;
justify-content: center;
align-items: center;
}

.weather{
max-width: 380px;
width: 90%;
padding: 30px;
border-radius: 10px;
text-align: center;
color: white;
background: linear-gradient(rgb(106, 19, 136) , rgb(53, 53, 219));
}

.search{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
margin-bottom: 20px;
}

.search input{
border: none;
outline: 0;
padding: 12px 25px;
font-size: 18px;
background-color: white ;
color: black;
border-radius: 30px;
margin-right: 12px;
flex: 1 1 200px;
margin-bottom: 10px;
}

.search button{
border: none;
outline: 0;
width: 50px;
height: 50px;
border-radius: 50%;
cursor: pointer;
}

.search button img{
width: 30px;
}

.weatherInfo img{
width: 100px;
max-width: 100%;
}

.weatherInfo .icon{
margin-top: 20px;
width: 150px;
height: 150px;
background-color: rgb(19, 102, 237);
}

.weatherInfo h1{
font-size: 50px;
}

.weatherInfo h2{
font-size: 40px;
font-weight: 200;
margin-top: -40px;
}

.details {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: 0px 20px;
}

.details .col{
display: flex;
align-items: center;
text-align: left;
margin-bottom: 10px;
}

.details .col img{
width: 50px;
margin-right: 10px;
}

.error{
    color: rgb(247, 7, 7);
}

.humidity, .wind {
font-size: 27px;
}

@media screen and (min-width: 768px) {
.weather {
max-width: 800px;
}

.search input {
    flex: 1;
    margin-bottom: 0;
    margin-right: 10px;
}

.details .col {
    margin-right: 20px;
}
}